.iniani {
    transition: ease-in 1s;
}

.clockcontainer {
    position: absolute;
    z-index: 3;
    right: 11%;
    top: 5px;
    background-image: url(../assets/clock_logo.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-color: ghostwhite;
    border-radius: 25%;
    padding: 20px;
    outline: 2px solid darkgreen;
    outline-offset: 2px;
    box-shadow: 0 0 25px darkgreen;
    overflow: clip;
    height: fit-content;
    width: fit-content;
}

.clock {
    position: relative;
    width: 75px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock span b {
    transform: rotate(calc(-30deg * var(--j)));
    display: inline-block;
}

span.ticks {
    position: absolute;
    transform: rotate(calc(6deg * var(--ticks)));
    inset: -20px;
    display: inline;
    text-align: center;
}

span.ticks b {
    transform: rotate(calc(var(--ticks) * 90deg));
    font-size: 16px;
    height: 15px;
    width: 50px;
    color: blue;
}

#timetype {
    position: absolute;
    left: 50%;
    top: 15%;
    transform: translateX(-50%);
    font-size: small;
    color: maroon;
}

.hand, .handrev {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hand i, .handrev i {
    position: absolute;
    background: var(--clr);
    height: var(--ht);
    width: var(--wt);
    z-index: 0;
    border-radius: 40%;
}

#dot i {
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#digital {
    position: relative;
    font-size: 13px;
    font-weight: 900;
    top: 35%;
    left: 0%;
}

#clockyear {
    --clr: cyan;
    --ht: 70px;
    --wt: 2px;
}

#hour {
    --clr: darkgreen;
    --ht: 25px;
    --wt: 5px;
}

#rev_hour {
    --clr: darkgreen;
    --ht: 10px;
    --wt: 5px;
    /* filter: drop-shadow(0px 0px 5px lime); */
}

#minute {
    --clr: darkblue;
    --ht: 40px;
    --wt: 4px;
    /* filter: drop-shadow(0px 0px 5px lime); */
}

#rev_minute {
    --clr: darkblue;
    --ht: 12px;
    --wt: 4px;
}

#second {
    --clr: red;
    --ht: 50px;
    --wt: 3px;
}

#rev_second {
    --clr: red;
    --ht: 15px;
    --wt: 3px;
}

#digital>span {
    line-height: 1.0;
    /* color: darkblue; */
    height: 10px;
    width: 15px;
    display: inline-block;
    font-family: 'Consolas', monospace;
}

#digital_hour {
    color: darkgreen;
}

#digital_minute {
    color: darkblue;
}

#digital_second {
    color: red;
}

@media screen and (max-width: 770px) {
    .clockcontainer {
        display: none;
    }
}

@media print {
    .clockcontainer {
        display: none;
    }
}