.ns_date_left {
  color: green;
  float: left;
}

.bs_date_right {
  color: chocolate;
  float: right;
}

.ad_date_left {
  color: green;
  float: left;
}

.ns_date_right {
  color: chocolate;
  float: right;
}

th {
  white-space: nowrap;
}

@media only screen and (max-width: 490px) {
  .ns_date_left, .ns_date_right, .ad_date_left, .bs_date_right {
    font-size: 12px;
  }
}

@media only screen and (max-width: 425px) {
  .ns_date_left, .ns_date_right, .ad_date_left, .bs_date_right {
    font-size: 10px;
  }
}
